/* mulish-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/mulish-v12-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;  /* наследование от родителя */
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Mulish, sans-serif;  /* sans-serif - запасной шрифт без засечек */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1; /* высота строки, лучше брать относит.зн. 1.1, 
                    так как это будет относительно шрифта элемента*/
  /* no-repeat - без повторений; top - прикрепляет к верху (background-position)
  contain - растягивает по самому длинному размеру (background-size)*/
  background: #F8E8E2 url(../img/bg.svg) no-repeat top/contain;
  color: #000;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, p, fieldset {
  margin: 0;
}

/*
  * ОСНОВНЫЕ КЛАССЫ 
*/

.btn {
  border-radius: 40px;
  background-color: #F44;
  box-shadow: 0px 4px 20px 0px #FA5A5A;
  color: #FFF;
  padding: 12px 28px;
}

.container {
  --width: 1180px;  /* кастомное свойство */
  --padding: 30px;  /* нужны для адаптива */
  max-width: calc(var(--width) + (var(--padding) * 2));
  margin: 0 auto;
  padding: 0 var(--padding);
}

.text-red {
  color: #F44;
}

/*
  * HEADER
*/

.header {
  padding: 32px 0;
}

.header__container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__basket {
  margin-right: 32px;

}

.header__btn {
  display: block;
}

/*
  * HERO SECTION
*/

.hero {
  padding: 30px 0 85px;
}

.hero__title {
  font-size: 84px;
  font-weight: 900;
  max-width: 880px;
}

.hero__cups {
  display: flex;
  gap: 20px;  /* отступы */
  /* либо в .hero__cup прописывать margin-right: ...px, 
  а в .hero__cup :last-child прописывать margin-right: 0 */
  padding-top: 270px;
}

.hero__cup {
  position: relative;
  width: 380px;
  height: 382px;
  border-radius: 24px;
}

.hero__img {
  position: absolute;
  bottom: 50px;
  /* располагаем стаканчики по центру прямоугольника */
  left: 50%;
  transform: translateX(-50%);
}

.hero__cup--pink {
  background-color: #FF196C;
}

.hero__cup--orange {
  background-color: #FFB72A;
  margin-top: -70px;
}

.hero__cup--green {
  background-color: #34B905;
}

/*
  * GOODS SECTION
*/

.goods {
  padding: 60px 0 70px;
}

.goods__title {
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 900;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(4, 280px); /* создать 4 столбца по 280px */
  gap: 20px;  /* отступы между карточками */
}

.cocktail {
  display: flex;  /* для удобства отображения контента */
  flex-direction: column;
  border-radius: 32px;
  background-color: #FFF;
  padding: 12px;
  height: 100%;
}

.cocktail__img {
  width: 100%;
  border-radius: 24px;
}

.cocktail__content {
  flex-grow: 1; /* при приближение тест тоже будет увеличиваться */
  display: flex;  /* для удобства отображения контента */
  flex-direction: column;
  padding: 12px;
}

.cocktail__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.cocktail__title {
  font-size: 18px;
  font-weight: 400;
  margin-right: 5px;  /* чтобы контент никогда не прижимался к цене */
}

.cocktail__price {
  font-weight: 600;
}

.cocktail__size {
  font-size: 12px;
  font-weight: 600;
  color: #C1C1C1;
  align-self: flex-end; /* === margin-left: auto; */
  margin-bottom: 10px;
}

.cocktial__btn {
  margin-top: auto;
}

/*
  * FOOTER
*/

.footer {
  padding: 30px 0 32px;
}

.footer__container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr); /* === : 1fr 1fr (fr - frame сетка)*/
  grid-template-areas: 
    'logo .'
    'copyright developer'; /* схема сетки, что где; . - это пустая ячейка*/
}

.footer__logo {
  grid-area: logo;  /* указываем имена из grid-template-areas */
}

.footer__copyright {
  grid-area: copyright; /* указываем имена из grid-template-areas */
}

.footer__developer {
  grid-area: developer; /* указываем имена из grid-template-areas */
  justify-self: end;  /* прижимаем элемент вправо */
}

.footer__developer-item {
  margin-bottom: 10px;
}

.footer__developer-item:last-child {
  margin-bottom: 0;
}

.footer__developer-link {

}