/* mulish-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/mulish-v12-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;  /* наследование от родителя */
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Mulish, sans-serif;  /* sans-serif - запасной шрифт без засечек */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1; /* высота строки, лучше брать относит.зн. 1.1, 
                    так как это будет относительно шрифта элемента*/
  /* no-repeat - без повторений; top - прикрепляет к верху (background-position)
  contain - растягивает по самому длинному размеру (background-size)*/
  background: #F8E8E2 url(../img/bg.svg) no-repeat top/contain;
  color: #000;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, p, fieldset {
  margin: 0;
}